@font-face {
    font-family: 'Lilita One'; 
    src: url('https://fonts.googleapis.com/css?family=Lilita+One');
}

body {
    background-color: #3c3c3c;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-family: "Lilita One", serif;
}

.frame {
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 40px; 
    width: auto;
    height: auto; 
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: "Lilita One", serif;
    padding-bottom: 400px;
}

.yt-btn {
    padding-top: 5px;
    padding: 8px 16px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Lilita One", serif;
    background-color: #555555;
}
.yt-btn:hover {
    padding-top: 5px;
    padding: 8px 16px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Lilita One", serif;
    background-color: #888888;
}

.logo {
    position: absolute;
    top: 10px;
}

.bottom {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: "Lilita One", serif;
}

#the-skipper {
    position: absolute;
    top: 10px;
    right: 10px;
}